:root {
    --nav-color: #233c54;
    --tea-green: #DBEFBC;
    --alabaster: #e8eddf;
    
}


/* Navigation Bar */
.navbar {
    background-color: var(--nav-color);
    border-bottom: 1px var(--alabaster) solid;
}
.navbar-brand.h1:hover {
    color: var(--tea-green);
}


/* Intro Section */
@media (min-width: 767.9px) {
    #intro h1 {
        font-size: 8rem;
    }
}
@media (max-width: 767.8px) {
    #intro h1 {
        font-size: 6rem;
    }
}
#intro {
    padding: 12rem 0 12rem 0;
    background-color: var(--nav-color);
}
#intro h1 {
    text-align: center;
    margin: 4rem auto;
    color: var(--alabaster);
}
#intro p {
    text-align: center;
    margin: 0 auto;
    color: white;
}


/* About Section */
#about {
    background-color: var(--alabaster);
    color: var(--nav-color);
    padding: 12rem 5rem;
}

#about h2 {
    font-size: 3rem;
}

#about p {
    font-size: 1.5rem;
}

#photoContainer {
    text-align: center;
}

#familyPhoto {
    
    border-radius: 10px;
    border: 1em whitesmoke solid;
}

@media (min-width: 992px) {
    #familyPhoto {
        width: 55%;
    }
}
@media (min-width: 768px) and (max-width: 991.9px) {
    #familyPhoto {
        width: 70%;
    }
}
@media (max-width: 767.8px) {
    #familyPhoto {
        width: 95%;
    }
}

/* Work Experience Section */
#workExperience {
    background-color: var(--nav-color);
    color: var(--alabaster);
    padding: 12rem 5rem;
}

#workExperience p {
    width: 100%;
}

#workExperience h2 {
    font-size: 3rem;
}

#workExperience ul {
    list-style-type: none;
}

#workExperience li {
    color: var(--tea-green);
}


/* Projects Section */
#projects {
    background-color: var(--alabaster);
    color: var(--nav-color);
    padding: 12rem 5rem;
}

#projects h2 {
    font-size: 3rem;
}

#projectContainer {
    margin-top: 3rem;
}

#projects img {
    width: 95%;
    vertical-align: middle;
}

#projects h3 {
    margin-top: 1rem;
}
@media (min-width: 992px) {
    .projectImageContainer {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 991.8px) {
    .projectImageContainer {
        width: 150px;
        height: 150px;
    }
}
.projectImageContainer {
    display: flex;
   
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}
#frupalImage {
    align-self: center;
    margin: 0 auto;
}

/* Contact me Section */
#contact {
    background-color: var(--nav-color);
    color: var(--alabaster);
    padding: 12rem 5rem;
}

#contact input {
    margin: 0 auto;
    width: 70%;
}

#contact label {
    text-align: left;
}
#submitButton {
     margin-top: 1em;
     color: var(--nav-color);
     background-color: var(--tea-green);
}